.context-menu {
    -fx-background-color: #dbdcde;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Bookman Old Style";
    -fx-cursor: hand;
    -fx-padding: 10;
    -fx-background-radius: 4;
}
.menu-item:focused .label {
    -fx-background-color: #dbdcde;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Bookman Old Style";
    -fx-cursor: hand;
    -fx-background-radius: 4;
}
.menu-item:focused {
    -fx-background-color: #dbdcde;
    -fx-border-color: transparent;
    -fx-text-fill: black;
    -fx-font-family: "Bookman Old Style";
    -fx-cursor: hand;
    -fx-background-radius: 4;
}

.menu-button{

    -fx-color: white;
    -fx-background-color: #0881ea;
    -fx-font-family: "Bookman Old Style";
    -fx-cursor: hand;
}

.menu-button:selected{

    -fx-text-fill: white;
    -fx-background-color: #f10707;
}